<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- 処理ログファイルパス -->
    <add key="ExecuteLogPath" value="Log\Execute.log" />
    <!-- エラーログファイルパス -->
    <add key="ErrorLogPath" value="Log\Error.log" />
    <!-- メッセージ定義ファイルパス -->
    <add key="MessageFilePath" value="Xml\Message.xml" />
    <!-- 状態保存ファイルパス -->
    <add key="StateFilePath" value="Xml\State.xml" />
    <!-- システム設定ファイルパス -->
    <add key="ConfigFilePath" value="Xml\Config.xml" />
    <!-- ファイルリネーム情報保存ファイルパス -->
    <add key="RenameFilePath" value="Xml\Rename.xml" />
    <!-- マークファイルパス -->
    <add key="BookmarkFilePath" value="Xml\Bookmark.xml" />
    <!-- SQLServerサービス名 -->
    <add key="SqlServiceName" value="MSSQL$SQLEXPRESS" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="PictManagerEntities" connectionString="metadata=res://*/DataModel.PictManager.csdl|res://*/DataModel.PictManager.ssdl|res://*/DataModel.PictManager.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=OYA\SQLEXPRESS;initial catalog=PictManager;integrated security=True;pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>