<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!-- 処理ログファイルパス -->
    <add key="ExecuteLogPath" value="Log\Execute.log" />
    <!-- エラーログファイルパス -->
    <add key="ErrorLogPath" value="Log\Error.log" />
    <!-- メッセージ定義ファイルパス -->
    <add key="MessageFilePath" value="Xml\Message.xml" />
    <!-- 状態保存ファイルパス -->
    <add key="StateFilePath" value="Xml\State.xml" />
    <!-- システム設定ファイルパス -->
    <add key="ConfigFilePath" value="Xml\Config.xml" />
    <!-- ファイルリネーム情報保存ファイルパス -->
    <add key="RenameFilePath" value="Xml\Rename.xml" />
    <!-- マークファイルパス -->
    <add key="BookmarkFilePath" value="Xml\Bookmark.xml" />
    <!-- SQLServerサービス名 -->
    <add key="SqlServiceName" value="MSSQL$SQLEXPRESS" />
    <!-- SQLServer接続リトライ回数 -->
    <add key="SqlConnectionMaxRetryCount" value="10" />
    <!-- SQLServer接続リトライ最大ディレイ -->
    <add key="SqlConnectionMaxDelay" value="3000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="PictManagerEntities" connectionString="metadata=res://*/DataModel.PictManagerEntity.csdl|res://*/DataModel.PictManagerEntity.ssdl|res://*/DataModel.PictManagerEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=PictManager;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <entityFramework codeConfigurationType="SO.PictManager.DataModel.PictManagerDbConfiguration, PictManager">
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>