<?xml version="1.0"?>
<ConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <CommonInfo>
    <TargetExtensions>
      <string>png</string>
      <string>gif</string>
      <string>jpg</string>
      <string>jpeg</string>
      <string>bmp</string>
    </TargetExtensions>
    <IsEncrypt>false</IsEncrypt>
    <IsIncludeSubDirectory>false</IsIncludeSubDirectory>
    <IsConfirmQuit>false</IsConfirmQuit>
    <Mode>File</Mode>
  </CommonInfo>
  <SlideInfo>
    <IsBookmarkTopMost>false</IsBookmarkTopMost>
  </SlideInfo>
  <ListInfo />
  <ThumbnailInfo />
</ConfigInfo>