# git ignore file
bin/
obj/
Uploads/*.*
*.suo
*.vbproj.user
*.log
PictManagerSetup/PictManagerSetup/Express/
PictManagerDatabase/PictManagerDatabase.sqlproj.user
PictManagerDatabase/PictManagerDatabase.dbmdl
/PictManagerDatabase/PictManagerDatabase.dbmdl
